Cheque.Test.Project/Connected Services/ServiceReference1/TestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChequeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChequeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChequeDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChequeDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ChequeDetails" />
  </wsdl:message>
  <wsdl:message name="ChequeDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ChequeDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="TestWebServiceSoap">
    <wsdl:operation name="ChequeDetails">
      <wsdl:input message="tns:ChequeDetailsSoapIn" />
      <wsdl:output message="tns:ChequeDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceSoap" type="tns:TestWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChequeDetails">
      <soap:operation soapAction="http://tempuri.org/ChequeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebServiceSoap12" type="tns:TestWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChequeDetails">
      <soap12:operation soapAction="http://tempuri.org/ChequeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebService">
    <wsdl:port name="TestWebServiceSoap" binding="tns:TestWebServiceSoap">
      <soap:address location="https://localhost:44372/TestWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebServiceSoap12" binding="tns:TestWebServiceSoap12">
      <soap12:address location="https://localhost:44372/TestWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>