ChequeWritingApp/Web References/localhost/ChequeWritingWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChequeService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InputNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChequeServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChequeServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChequeServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ChequeService" />
  </wsdl:message>
  <wsdl:message name="ChequeServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ChequeServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ChequeWritingWebServiceSoap">
    <wsdl:operation name="ChequeService">
      <wsdl:input message="tns:ChequeServiceSoapIn" />
      <wsdl:output message="tns:ChequeServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChequeWritingWebServiceSoap" type="tns:ChequeWritingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChequeService">
      <soap:operation soapAction="http://tempuri.org/ChequeService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChequeWritingWebServiceSoap12" type="tns:ChequeWritingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChequeService">
      <soap12:operation soapAction="http://tempuri.org/ChequeService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChequeWritingWebService">
    <wsdl:port name="ChequeWritingWebServiceSoap" binding="tns:ChequeWritingWebServiceSoap">
      <soap:address location="https://localhost:44350/ChequeWritingWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChequeWritingWebServiceSoap12" binding="tns:ChequeWritingWebServiceSoap12">
      <soap12:address location="https://localhost:44350/ChequeWritingWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>